/*===============USER DETAIL DESIGN==================*/

.user-detail{  
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    padding: 51px;
    border-radius: 10px;
    width: fit-content;
    height: auto;
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.25);
  }